.card__info--type {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 2px;
  color: #000000;
  margin-right: 3px;
  padding: 1px;
}

// COLOR TYPES

.normal {
  background-color: #bbbcad;
}
.poison {
  background-color: #ab5ca3;
}
.psychic {
  background-color: #ea5faf;
}
.grass {
  background-color: #8ed950;
}
.ground {
  background-color: #edcd55;
}
.ice {
  background-color: #97f1fb;
}
.fire {
  background-color: #ea503d;
}
.rock {
  background-color: #cfbf72;
}
.dragon {
  background-color: #8471f6;
}
.water {
  background-color: #55aef7;
}
.bug {
  background-color: #bfce41;
}
.dark {
  background-color: #8f6955;
}
.fighting {
  background-color: #a85440;
}
.ghost {
  background-color: #7a76d8;
}
.steel {
  background-color: #c5c4db;
}
.flying {
  background-color: #7aa4f7;
}
.electric {
  background-color: #fce550;
}
.fairy {
  background-color: #f0acfb;
}
